:root {
  --light-blue-neon: #FFF 0px 0px 5px, rgb(66, 134, 244) 0px 0px 20px, rgb(66, 134, 244) 0px 0px 30px, rgb(66, 134, 244) 0px 0px 40px,
	 									rgb(66, 134, 244) 0px 0px 50px, rgb(66, 134, 244) 0px 0px 75px;
	--light-blue-neon-active: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(66, 134, 244) 0px 0px 20px, rgb(66, 134, 244) 0px 0px 30px,
												rgb(66, 134, 244) 0px 0px 40px, rgb(66, 134, 244) 0px 0px 50px, rgb(66, 134, 244) 0px 0px 75px;
	--purple-neon: #FFF 0px 0px 5px, rgb(255,0,255) 0px 0px 20px, rgb(255,0,255) 0px 0px 30px, rgb(255,0,255) 0px 0px 40px,
	                  rgb(255,0,255) 0px 0px 50px, rgb(255,0,255) 0px 0px 75px;
	--red-neon: #FFF 0px 0px 5px, rgba(255, 0, 0, 0.3) 0px 0px 20px, rgba(255, 0, 0, 0.3) 0px 0px 30px, rgba(255, 0, 0, 0.3) 0px 0px 40px,
	                  rgba(255, 0, 0, 0.3) 0px 0px 50px, rgba(255, 0, 0, 0.3) 0px 0px 75px;
	--red-neon-active:#FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgba(255, 0, 0, 0.3) 0px 0px 20px, rgba(255, 0, 0, 0.3) 0px 0px 30px,
	                      rgba(255, 0, 0, 0.3) 0px 0px 40px, rgba(255, 0, 0, 0.3) 0px 0px 50px, rgba(255, 0, 0, 0.3) 0px 0px 75px;
	--blue-neon:#FFF 0px 0px 5px, rgb(0, 0, 255) 0px 0px 20px, rgb(0, 0, 255) 0px 0px 30px, rgb(0, 0, 255) 0px 0px 40px,
										                  rgb(0, 0, 255) 0px 0px 50px, rgb(0, 0, 255) 0px 0px 75px;
	--pink-neon:#FFF 0px 0px 5px, rgb(244, 66, 182, 0.3) 0px 0px 20px, rgb(244, 66, 182, 0.3) 0px 0px 30px, rgb(244, 66, 182, 0.3) 0px 0px 40px,
	                  rgb(244, 66, 182, 0.3) 0px 0px 50px, rgb(244, 66, 182, 0.3) 0px 0px 75px;

}

@-webkit-keyframes glow_main_text {
	from {
		text-shadow: 0 0 16px rgba(255, 0, 0, 0.3), 0 0 26px rgba(255, 0, 0, 0.3), 0 0 36px rgba(255, 0, 0, 0.3), 0 0 46px rgba(255, 0, 0, 0.3),
									0 0 57px rgba(255, 0, 0, 0.3), 0 0 66px rgba(255, 0, 0, 0.3), 0 0 76px rgba(255, 0, 0, 0.3);
	}
	to {
		text-shadow: 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.3), 0 0 40px rgba(255, 0, 0, 0.3), 0 0 50px rgba(255, 0, 0, 0.3),
									0 0 60px rgba(255, 0, 0, 0.3), 0 0 70px rgba(255, 0, 0, 0.3), 0 0 80px rgba(255, 0, 0, 0.3);
	}
}

@font-face {
		font-family: 'simple-neon';
		src: url('font/neon-webfont.woff2') format('woff2'),
				 url('font/neon-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'gas-neon';
		src: url('font/noble_gas_lights-webfont.woff') format('woff'),
				 url('font/noble_gas_lights-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}


html{
	position: absolute;
	height: 70%;
	margin-top: 0;
	padding-top: 0;
}


body{
	height: 100%;
	padding-top: 5px;
	padding-bottom: 3%;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
  overflow-x: scroll;
	flex-wrap: nowrap;
	overflow-y: hidden;
	margin-right: 50px;
}

h1{
	margin-left: 7%;
	margin-right: 8%;
	display: inline-block;
	margin-top:3%;
}

ul{
	list-style-type: none;
	font-size: 0.4em;
}

ul li{
	display: inline;
}

.person_info{
	text-shadow: var(--blue-neon);
}

.nav a{
	color:white;
	text-shadow: var(--purple-neon);
}


.person_image{
	height:7em;
	width:7em;
}

.header{
	margin-left: 5%;
	margin-top: 30px;
  height: 100%;
	font-size: 25px;
}

.day-box{
	height: 100%;
	font-size: 0.5em;
	font-family: "simple-neon";
	margin-right: 5em;
	padding-top: 10px;
	flex: 0 0 20%;
	animation: glow_main_text 1s ease-in-out infinite alternate;
}

.day{
	font-family: "gas-neon";
	font-size: 2em;
	text-align: center;
	text-shadow: var(--pink-neon);
	margin-bottom: 7px;
}

.reading-box{
	margin-bottom: 10px;
	text-shadow: var(--light-blue-neon);
}

.reading-box:hover{
	text-shadow: var(--light-blue-neon-active);
}

.assignment-label{
	position: absolute;
	margin-left: -4em;
}

/*For grading box label*/
.grading-box .assignment-label{
	display: block;
	width:100%;
}

.reading{
	padding-left: 20%;
}

.reading a{
	color: white;
	text-shadow: var(--purple-neon);
}

.prep-box{
	margin-bottom: 10px;
	text-shadow: var(--red-neon);
}

.prep-box a{
	color: white;
}

.prep-box:hover{
	text-shadow: var(--red-neon-active);
}
/*For grading box*/
.assignment_link{
	display: block;
	margin-left: 20%;
	margin-bottom: 10px;
	height: 1.8em;
}

.grading-box .assignment-label{
	color: white;
	text-shadow: var(--light-blue-neon);
	text-decoration: underline;
}

.lab-box{
	margin-bottom: 5px;
	text-shadow: var(--red-neon);
	text-decoration: underline;
	color:white;
}

.lab-box a{
	color:white;
}

.lab-box:hover{
	text-shadow: var(--red-neon-active);
}
