
@font-face {
	font-family: 'neoneonregular';
	src: url('font/neoneon-webfont.woff2') format('woff2'),
			 url('font/neoneon-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
		font-family: 'motion_picture_personal_useRg';
		src: url('font/motionpicture_personaluseonly-webfont.woff2') format('woff2'),
				 url('font/motionpicture_personaluseonly-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 3px rgba(255, 0, 0, 0.3), 0 0 5px rgba(255, 0, 0, 0.3), 0 0 7px rgba(255, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.3),
									0 0 10px rgba(255, 0, 0, 0.3), 0 0 00px #e60073, 0 0 0px #e60073;
	}
	to {
		text-shadow: 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.3), 0 0 40px rgba(255, 0, 0, 0.3), 0 0 50px rgba(255, 0, 0, 0.3),
									0 0 60px rgba(255, 0, 0, 0.3), 0 0 70px rgba(255, 0, 0, 0.3), 0 0 80px rgba(255, 0, 0, 0.3);
	}
}
@-webkit-keyframes glow_border {
	from {
		box-shadow: 0 0 3px rgba(255, 0, 0, 0.3), 0 0 5px rgba(255, 0, 0, 0.3), 0 0 7px rgba(255, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.3),
									0 0 10px rgba(255, 0, 0, 0.3), 0 0 00px #e60073, 0 0 0px #e60073;
	}
	to {
		box-shadow: 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.3), 0 0 40px rgba(255, 0, 0, 0.3), 0 0 50px rgba(255, 0, 0, 0.3),
									0 0 60px rgba(255, 0, 0, 0.3), 0 0 70px rgba(255, 0, 0, 0.3), 0 0 80px rgba(255, 0, 0, 0.3);
	}
}
@-webkit-keyframes glow_homepage{
	from {
		text-shadow: 0 0 3px rgba(255, 140, 0, 0.3), 0 0 5px rgba(255, 140, 0, 0.3), 0 0 7px rgba(255, 140, 0, 0.3), 0 0 10px rgba(255, 140， 0, 0.3),
									0 0 10px rgba(255, 140, 0, 0.3), 0 0 00px #ff8C00, 0 0 0px #ff8C00;
	}
	to {
		text-shadow: 0 0 20px rgba(255, 140, 0, 0.3), 0 0 30px rgba(255, 140, 0, 0.3), 0 0 40px rgba(255, 140, 0, 0.3), 0 0 50px rgba(255, 140， 0, 0.3),
									0 0 60px rgba(255, 140, 0, 0.3), 0 0 70px rgba(255, 140, 0, 0.3), 0 0 80px rgba(255, 140， 0, 0.3);
	}
}

h1{
	text-align: center;
	-webkit-animation: glow_homepage 10s ease-in-out infinite alternate;
	-moz-animation: glow_homepage 1s ease-in-out infinite alternate;
	animation: glow_homepage 1s ease-in-out infinite alternate;
	font-family: "neoneonregular";
	font-size: 300%;
	font-weight: 900;
	}

.header{
	border:solid;
	border-width: 5px;
	border-color: white;
	animation:glow_border 1s ease-in-out infinite alternate;
	padding: 30px
}

body{
	background-image: url("images/black-brick-dark.jpg");
	background-size: contain;
	padding-top: 120px;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
	color: white;
	font-size: 50px;
}

body > table{
	width: 100%;
	background-color: white;
}

.person_image{
	
}

td{
	width:50%;
}

th{
	display: none;
}

img{
	width: 300px;
	height: 300px;
}

.day-box{
	border-style: solid ;
	border:2px 
	border-radius:25px;
	border-width: 3px;
	margin-top: 50px;
	padding: 30px;
	animation:glow_border 1s ease-in-out infinite alternate;
		
